* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 400px;
}

.main-visual-text {
  padding: 20px ;
}

.blog {
  width: 840px;
  margin: 20px auto;
}

.blog-box {
  padding: 30px 0;
  border-bottom: 1px solid gray;
}