* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff9a4b;
  height: 50px;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  background-color: #eeeeee;
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.step-box:last-child {
  margin-right: 0;
}

.step-img1 {
  background-image: url(img/flow01.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.step-img2 {
  background-image: url(img/flow02.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.step-num {
  padding: 3px;
  background-color: #ff9a4b;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.step-title {
  margin: 15px 0 5px;
}

footer {
  background-color: #aaaaaa;
  height: 50px;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  main {
    width: 100%;
    display: block;
  }

  .step-box {
    width: 90%;
    margin: 0 auto;
  }

  .step-box:nth-child(2) {
    margin: 20px auto;
  }

  .step-box:last-child {
    margin: 0 auto;
  }

  .footer {
    width: 100%;
  }
}